* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, "Hiragino Sans GB",
    "Microsoft YaHei", "SimSun", Arial, Sans-serif;
    background: #FFFFFF;
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background: #E3EEEC;
}

.fl {
    float: left;
}

.myinfo {
    height: 100%;
    overflow: hidden;
    clear: both;
    margin-top: 10px;
}

.userheader {
    background: #F6F9F9;
    padding-right: 0px;
    height: 370px;
}

.userheader-img {
    width: 260px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    line-height: 250px;
    position: relative;
}

.userheader-img img {
    width: 230px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #25AE88;
    cursor: pointer;
}

#personhover {
    position: absolute;
    top: 15px;
    left: 15px;
}

.img-mask {
    margin: 0 auto;
    position: absolute;
    width: 210px;
    height: 210px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1002;
    left: 0px;
    background-color: rgba(16, 199, 165, .4);
    border-radius: 50%;
}

.modal-body {
    text-align: center;
    background: #F2F2F5;
}

.modal-body .add-header a {
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #FFFFFF;
    line-height: 25px;
    color: #252F39;
    height: 35px;
    background: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

.modal-body .add-header a i {
    color: #25AE88;
    font-size: 18px;
}

.modal-body .header-area #uploadfile {
    display: none;
}

.modal-body .header-area img {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.modal-footer {
    text-align: center;
}

.userinfo {
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    height: 370px;
}

.userinfo .user-nickname {
    margin-bottom: 20px;
}

.info-title h4 {
    color: #25AE88;
}

.base-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.base-info .info-title {
    display: flex;
}

.base-info .info-title span {
    color: #FFFFFF;
    background: #25AE88;
    width: 70px;
    height: 30px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 30px;
    padding-top: 5px;
    float: right;
}

.account, .nickname {
    border-top: 2px solid #25AE88;
    display: flex;
    padding-top: 20px;
}

.telnum, .qq {
    display: flex;
    border-top: none;
    padding-top: 10px;
}

.info-key {
    color: #000000;
    font-size: 18px;
    text-align: right;
    width: 50px;
}

.base-info input {
    border-radius: 4px;
    border: 1px solid #25AE88;
    padding-left: 5px;
}

.base-info input:focus {
    border: 1px solid #F57A00;
}

.info-value {
    color: #000000;
    margin-left: 50px;
    font-size: 18px;
    text-align: left;
    width: 330px;
}

.my-etc {
    margin-top: 20px;
    height: 100%;
    overflow: hidden;
    clear: both;
}

.my-etc ul li a {
    font-size: 1.3em;
}

.content-wrap {
    height: 100%;
    overflow: hidden;
    clear: both;
}

.released, .collect {
    height: 100%;
    overflow: hidden;
    clear: both;
    margin-bottom: 10px;
}

.released .released-picture, .collect .collect-picture {
    padding-right: 0px;
    margin: 0px;
    height: 150px;
}

.released .released-picture img, .collect .collect-picture img {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.released .released-info {
    background: #FFFFFF;
    height: 150px;
}

.goods-title {
    padding-left: 30px;
    text-align: left;
}

.goods-title h4 {
    color: #22B24C;
}

.goods-title a {
    text-decoration: none;
}

.goods-desc {
    text-align: left;
    color: #666666;
    padding-left: 30px;
    font-size: 15px;
}

.goods-action {
    text-align: right;
    padding-left: 30px;
    font-size: 15px;
    color: #F57A00;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.goods-action .cancel-collect {
    width: 80px;
    border-radius: 25px;
    background: #FFFFFF;
    color: #DE5B49;
    border-color: #DE5B49;
}

.goods-action span {
    color: #25AE88;
    font-size: 14px;
}

.goods-action .off {
    width: 80px;
    border-radius: 25px;
    background: #FFFFFF;
    color: #F57A00;
}

.goods-action .off:hover {
    background: #F57A00;
    color: #ffffff;
}

.goods-action .editlink {
    width: 80px;
    border-radius: 25px;
    background: #FFFFFF;
    color: #22B24C;
}

.goods-action .editlink:hover {
    background: #22B24C;
    color: #ffffff;
}

.tabs {
    z-index: 1;
}

.message {
    text-align: left;

}

.message .message-title h4 {
    color: #25AE88;
}

.message .message-list {
    border-top: 3px solid #25AE88;
    height: 100%;
    overflow: hidden;
    background: #ffffff;
}

.want{
    text-align: left;
    background-color: #fff;
    padding: 5px 0px 5px 10px;
}

.want .want-title h4{
    color: #25AE88;
}

.want .want-desc p{
    font-weight: normal;
    font-size: 14px;
}

.want .want-place-price .want-place,
.want .want-place-price .want-price{
    font-size: 13px;
}

.want .want-place-price .want-price{
    margin-left: 10px;
}

.want-price b{
    font-size: 17px;
    color: #DB736C;
}

.want-price b:before{
    content: "¥";
}

.want .want-action{
    text-align: right;
    padding-right: 20px;
    font-size: 14px;
}

.want .want-action a{
    text-decoration: none;
    border: 1px solid;
    background-color: #fff;
    color: #22B24C;
    border-radius: 25px;
}


#mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(43, 43, 43, 0.2);
    z-index: 2;
}

#mask .modal-dialog {
    position: relative;
    vertical-align: middle;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 0;
    background: #f8f8f8;
}

.modal-dialog .close-modal {
    position: absolute;
    font-weight: 500;
    right: 3%;
    font-size: 1.2em;
    cursor: pointer;
}

.modal-dialog .modal-hd {
    padding: 15px 10px 5px 10px;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

.modal-dialog .modal-body {
    padding: 15px 10px;
    text-align: center;
    border-bottom: 1px solid #dedede;
    border-radius: 2px 2px 0 0;
}

.modal-dialog .modal-footer {
    height: 44px;
    overflow: hidden;
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.modal-dialog .modal-footer .modal-btn {
    display: table-cell !important;
    padding: 0 62px;
    box-sizing: border-box !important;
    font-size: 1.6rem;
    line-height: 44px;
    text-align: center;
    color: #0e90d2;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    border-right: 1px solid #dedede;
}

@media screen and (min-width: 320px) and (max-width: 668px) {
    .modal-body .header-area img {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }

    .userinfo {
        padding-left: 0px;
    }

    .userheader {
        height: 270px;
    }

    .info-key {
        width: 60px;
    }

    .info-value {
        text-align: left;
    }

    .my-etc {
        margin-top: 5px;
    }

    .goods-title, .goods-desc {
        padding-left: 5px;
    }

    .userinfo {
        height: 350px;
    }

    .released .released-info {
        height: 160px;
    }

    .modal-dialog .modal-footer .modal-btn {
        padding: 0 30px;
    }
}

.tip {
    border: 1px solid;
    width: 100px;
    position: fixed;
    left: 46%;
    top: 3%;
    z-index: 1;
    display: none;
    background: RGBA(43, 43, 43, 0.7);
    color: #fff;
    text-align: center;
}