 	* {
 		margin: 0;
 		padding: 0;
 		-webkit-box-sizing: border-box;
 		-moz-box-sizing: border-box;
 		box-sizing: border-box;
 	}
 	
 	html {
 		height: 100%;
 	}
 	
 	body {
 		font-family: 'Helvetica Neue', Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "SimSun", Arial, Sans-serif;
 		min-height: 100%;
 		position: relative;
 		margin: 0;
 		padding: 0;
 		background: #E3EEEC;
 	}
 	
 	.other,
 	.other-goods {
 		height: 100%;
 		overflow: hidden;
 		clear: both;
 		margin-top: 20px;
 	}
 	
 	.other-info .other-header-left {
 		padding-right: 0px;
 		background: #F6F9F9;
 	}
 	
 	.other-info .other-headerimg {
 		width: 90%;
 		margin: 0 auto;
 		text-align: center;
 	}
 	
 	.other-info .other-headerimg img {
 		width: 200px;
 		height: 200px;
 		border-radius: 50%;
 		margin-top: 20px;
 		margin-bottom: 20px;
 	}
 	
 	.other-info .other-info-right {
 		padding-left: 20px;
 		background: #FFFFFF;
 		height: 240px;
 	}
 	
 	.other-info-right .selling-goods span {
 		font-size: 1.4em;
 	}

 	.other-goods .other-goods-title {
 		padding-left: 20px;
 		border-left: 4px solid #25AE88;
 	}
 	
 	.other-goods .other-goods-title span {
 		color: #666666;
 		font-size: 1.4em;
 	}
 	
 	.other-goods .other-goods-info{
 		margin-top: 20px;
 		background: #FFFFFF;
 		height: 100%;
 		overflow: hidden;
 		clear: both;
 	}
 	.other-goods-info .other-goods-picture {
 		text-align: center;
 		width: 100%;
 	}
 	.other-goods-info .other-goods-picture img{
 		width: 100%;
 		height: 150px;
 		overflow: hidden;
 	}
 	.other-goods-info .other-goods-name h4{
 		color: #25AE88;
 	}
 	.other-goods-info .other-goods-desc{
 		width: 90%;
 	}
 	.other-goods-info .other-goods-place-price{
 		margin-top: 30px;
 		width: 90%;
 	}
 	.other-goods-info .other-goods-place-price .place{
 		color: #929292;
 		margin-left: 5px;
 	}

 	.other-goods-info .other-goods-place-price .price{
 		float: right;
 		color: #DE5B49;
 		font-size: 1.7em;
 	}

	.other-goods-info .other-goods-place-price .price:before{
		content: "¥";
	}
 	
 	
 	@media screen and (min-width:320px) and (max-width: 668px) {
 		.other-info-right .other-name,
 		.other-info-right .selling-goods,
 		.other-info-right .user-school {
 			text-align: center;
 		}
 		.other-info-right .user-school{
 			text-align: left;
 			width: 70%;
 			margin-left: 30%;
 			padding-left: 2px;
 		}
 		.other-goods-info .other-goods-name,
 		.other-goods-info .other-goods-desc{
 			text-align: center;
 			margin:0 auto;
 		}
 		.other-info .other-info-right{
 			padding-top: 5px;
 		}
 		.other-goods {
 			margin-top: 0px;
 		}
 		.other-goods-info .other-goods-picture img{
 			width: 60%;
 		}
 		.other-goods-info .other-goods-place-price{
 			padding-left: 10px;
 			padding-right: 10px;
 			width: 100%;
 		}
 	}