* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "SimSun", Arial, Sans-serif;
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.fl {
    float: left;
}


#search .query-name {
    text-align: center;
    font-size: 1.8em;
}

#search .action-items {
    list-style: none;
    width: 59%;
    padding-bottom: 20px;
    font-size: 14px;
    margin: 0 auto;

}

.action-items .action-item {
    display: inline-block;
    padding-left: 10px;
}

.action-items .total-goods{
    display: inline-block;
    float: right;
}

.action-item a {
    color: #777777;
    cursor: pointer;
    text-decoration: none;
}

.action-item a:hover {
    color: #74777b;
    text-decoration: none;
}

#search .goods-items {
    list-style: none;
    width: 60%;
    margin: 0 auto;
}

#search .goods-items .goods-item {
    display: inline-block;
    width: 22%;
    margin-left: 2%;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 9px;
}

#search .goods-items .goods-item:hover{
    background-color: #F2F2F5;
}

.goods-item .goods-image {
    width: 100%;
    overflow: hidden;
    height: 200px;
    border-radius: 4px;
}

.goods-item .goods-price {
    background-color: #DE5B49;
    color: #FFFFFF;
    width: 62px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    position: absolute;
    top: 1%;
    left: 63%;
}

.goods-item .goods-price:before {
    content: "¥";
}

.goods-item .goods-name{
    text-align: center;
    width: 100%;
    height:40px;
}

.goods-item .goods-place{
    width: 50%;
    float: left;
}

.goods-item .goods-bargain{
    text-align: right;
    color: #DB736C;
}


@media screen and (min-width: 320px) and (max-width: 668px) {
    #search .action-items{
        width: 100%;
        margin-top: 10px;
    }

    #search .goods-items{
        width: 100%;
    }

    #search .goods-items .goods-item{
        width: 47%;
    }
}